@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import './assets/css/components/app';


html,body{
  font-family: 'Russo One', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

*{
  &:focus{
    outline: none;
  }
}